<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addModal">
Ajouter
</button>




<table class="table">
<thead>
    <tr>
    <th scope="col">artist_id</th>
    <th scope="col">image</th>
    <th scope="col">name</th>
    <th scope="col">description</th>
    <th scope="col">URL media</th>
    <th scope="col">embed</th>
    <th scope="col"></th>
    </tr>
</thead>

<tbody>
    {% for artist in artists %}
    <tr class="table-info ">
        <td>{{ artist.artist_id }}</td>
        <td>
        {% for image in images %}
        {% if image.image_id == artist.image_id %}
            <img src="data:{{ image.imageType }};base64,{{ image.data }}" alt="img" style="height: 100px; width: 100px;" />
        {% endif %}
        {% endfor %}
        </td>
        <td>{{ artist.name }}</td>
        <td>{{ artist.description }}</td>
        <td>
            <p>{{ artist.media }}</p>
        </td>
        <td>
            <iframe
                className="spotify"
                src={{ artist.media }} 
                width="100%" 
                height="15%" 
                frameBorder="0" 
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                loading="lazy">
            </iframe>
        </td>
        <td>
        <form action="/showartist" method="post"> 
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" class="form-control" id="artist_id" name="artist_id" value="{{ artist.artist_id }}">
            <button type="submit" class="btn btn-outline-info"><img src="/Icones/more.png" alt="Plus" title="Information utilisateur" height="25px" width="25px"></button>
        </form>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form action="/addartist" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="text" class="form-control" id="name" name="name" placeholder="Nom" required="true">
        <input type="text" class="form-control" id="description" name="description" placeholder="Description">
        <input type"test" class="form-control" id="media" name="media" placeholder="URL media">
        <select name="image_id" class="form-control">
            <option selected="selected" value="NULL" id="optionImage">Ajouter une image</option>
            {% for image in images %}
            <option value="{{ image.image_id }}">{{ image.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-outline-info">Valider</button>
        </form>
    </div>
    <div class="modal-footer">
    </div>
    </div>
</div>
</div>