<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addModal">
Ajouter
</button>



<table class="table">
<thead>
    <tr>
    <th scope="col">event_id</th>
    <th scope="col">author name</th>
    <th scope="col">name</th>
    <th scope="col">description</th>
    <th scope="col">images</th>
    <th scope="col">artists</th>
    <th scope="col">places</th>
    <th scope="col">médias</th>
    <th scope="col">display_map</th>
    <th scope="col">start_date</th>
    <th scope="col">end_date</th>
    <th scope="col">price</th>
    <th scope="col"></th>
    </tr>
</thead>

<tbody>
    {% for event in events %}
    <tr class="table-info ">
        <td>{{ event.event_id }}</td>
        <td>{{ event.author_name }}</td>
        <td>{{ event.name }}</td>
        <td>{{ event.description }}</td>
        <td>
        {% for ei in events_images %}
            {% if ei.event_id == event.event_id %}
            {% for image in images %}
                {% if image.image_id == ei.image_id %}
                <img src="/Uploads/{{image.name ~ image.extension}}" alt="img" style="height: 100px; width: 100px;" />
                {% endif %}
            {% endfor %}
            {% endif %}
        {% endfor %}
        </td>
        <td>
        {% for ea in events_artists %}
            {% if ea.event_id == event.event_id %}
            {% for artist in artists %}
                {% if artist.artist_id == ea.artist_id %}
                {{ artist.name }}
                {% endif %}
            {% endfor %}
            {% endif %}
        {% endfor %}
        </td>
        <td>
        {% for ep in events_places %}
            {% if ep.event_id == event.event_id %}
            {% for place in places %}
                {% if place.place_id == ep.place_id %}
                {{ place.name }}
                {% endif %}
            {% endfor %}
            {% endif %}
        {% endfor %}
        </td>
        <td>
        {% for eem in events_external_medias %}
            {% if eem.event_id == event.event_id %}
            {% for external_media in external_medias %}
                {% if external_media.external_media_id == eem.external_media_id %}
                {{ external_media.url }}
                {% endif %}
            {% endfor %}
            {% endif %}
        {% endfor %}
        </td>
        <td>{{ event.display_map }}</td>
        <td>{{ event.start_date }}</td>
        <td>{{ event.end_date }}</td>
        <td>{{ event.price }}</td>
        <td>
        <form action="/showevent" method="post"> 
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" class="form-control" id="event_id" name="event_id" value="{{ event.event_id }}">
            <button type="submit" class="btn btn-outline-info"><img src="/Icones/more.png" alt="Plus" title="Information utilisateur" height="25px" width="25px"></button>
        </form>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <button type"button" id="test" class="btn btn-secondary" onclick="add(event)">test</button>

        <form action="/addEvent" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="hidden" id="author_name" name="author_name" value="{{ id }}">
        <input type="text" class="form-control" id="name" name="name" placeholder="Nom" required="true">
        <input type="text" class="form-control" id="description" name="description" placeholder="Description">

        <select class="form-control">
            <option selected="selected" value="NULL" id="optionImage">Ajouter des images</option>
            {% for image in images %}
            <option value="{{ image.image_id }}" name="optionImage" onclick="add(event)" id="{{ '/Uploads/' ~ image.name ~ image.extension }}">{{ image.name }}</option>
            {% endfor %}
        </select>
        <div id="addedimages">
        </div>
        <input type="hidden" value="" name="images" id="images"/>

        <select class="form-control">
            <option selected="selected" value="NULL" id="optionArtist">Ajouter des artistes (laissez si aucun)</option>
            {% for artist in artists %}
            <option value="{{ artist.artist_id }}" name="optionArtist" onclick="add(event)" id="{{ artist.name }}">{{ artist.name }}</option>
            {% endfor %}
        </select>
        <div id="addedartists">
        </div>
        <input type="hidden" value="" name="artists" id="artists"/>

        <select class="form-control">
            <option selected="selected" value="NULL" id="optionPlace">Ajouter des lieux (laissez si aucun)</option>
            {% for place in places %}
            <option value="{{ place.place_id }}" name="optionPlace" onclick="add(event)" id="{{ place.name }}">{{ place.name }}</option>
            {% endfor %}
        </select>
        <div id="addedplaces">
        </div>
        <input type="hidden" value="" name="places" id="places"/>

        <select class="form-control">
            <option selected="selected" value="NULL" id="optionExternal_media">Ajouter des médias externes (laissez si aucun)</option>
            {% for external_media in external_medias %}
            <option value="{{ external_media.external_media_id }}" name="optionExternal_media" onclick="add(event)" id="{{ external_media.url }}">{{ external_media.url }}</option>
            {% endfor %}
        </select>
        <div id="addedexternal_medias">
        </div>
        <input type="hidden" value="" name="external_medias" id="external_medias"/>

        <label for="display_map" style="color: black;">sur la map ?</label>
        <input type="checkbox" id="display_map" name="display_map">
        <input type="date" class="form-control" id="start_date" name="start_date" placeholder="date de début" required="true">
        <input type="date" class="form-control" id="end_date" name="end_date" placeholder="date de fin" required="true">
        <input type="number" class="form-control" id="price" name="price" placeholder="prix" required="true">
        <button type="submit" class="btn btn-outline-info">Valider</button>
        </form>
    </div>
    <div class="modal-footer">
    </div>
    </div>
</div>
</div>


<script src="./js/crudevent_add.js"/>