
<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addModal">
Ajouter
</button>




<table class="table">
<thead>
    <tr>
    <th scope="col">external_media_id</th>
    <th scope="col">url</th>
    <th scope="col">media_platform_name</th>
    <th scope="col"></th>
    </tr>
</thead>

<tbody>
    {% for external_media in external_medias %}
    <tr class="table-info ">
        <td>{{ external_media.external_media_id }}</td>
        <td>{{ external_media.url }}</td>
        <td>{{ external_media.media_platform_name }}</td>
        <td>
        <form action="/showexternalmedia" method="post"> 
            <input type="hidden" class="form-control" id="external_media_id" name="external_media_id" value="{{ external_media.external_media_id }}">
            <button type="submit" class="btn btn-outline-info"><img src="/Icones/more.png" alt="Plus" title="Information utilisateur" height="25px" width="25px"></button>
        </form>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form action="/addexternalmedia" method="post">
        <input type="text" class="form-control" id="url" name="url" placeholder="url" required>
        <select name="media_platform_id" class="form-control">
            <option selected="selected" value="NULL">Selectionner une plateforme de média (laisser si aucune)</option>
            {% for media_platform in media_platforms %}
            <option value="{{ media_platform.media_platform_id }}">{{ media_platform.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-outline-info">Valider</button>
        </form>
    </div>
    <div class="modal-footer">
    </div>
    </div>
</div>
</div>