<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addModal">
Ajouter
</button>




<table class="table">
<thead>
    <tr>
    <th scope="col">image_id</th>
    <th scope="col">rendu</th>
    <th scope="col">name</th>
    <th scope="col">extension</th>
    <th scope="col"></th>
    </tr>
</thead>

<tbody>
    {% for image in images %}
    <tr class="table-info ">
        <td>{{ image.image_id }}</td>
        <td><img height="100px" width="100px" src="data:{{ image.imageType }};base64,{{ image.data }}" alt="image"/></td>
        <td>{{ image.name }}</td>
        <td>{{ image.extension }}</td>
        <td>
        <form action="/showimage" method="post"> 
            <input type="hidden" name="_csrf" value="{{csrfToken}}">    
            <input type="hidden" class="form-control" id="image_id" name="image_id" value="{{ image.image_id }}">
            <button type="submit" class="btn btn-outline-info"><img src="/Icones/more.png" alt="Plus" title="Information utilisateur" height="25px" width="25px"></button>
        </form>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form action="/addimage?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
            <h3>Télécharger une image</h3>
            <input type="file" class="form-control" id="image" name="image" required>
            <button type="submit" class="btn btn-outline-info">Valider</button>
        </form>
    </div>
    <div class="modal-footer">
    </div>
    </div>
</div>
</div>