<table class="table">
  <thead>
    <tr>
      <th scope="col">Informations artiste</th>
      <th scope="col">Accès</th>
    </tr>
  </thead>

  <tbody>
    <form action="/updateartist" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="hidden" class="form-control" id="artist_id" name="artist_id" value="{{ artist_id }}">
      <tr>
        <td>Identifiant BDD : {{ id }}</td>
        <td>Refusé</td>
      </tr>
      <tr>
        <td>image :
          {% for image in images %}
            {% if image.image_id == image_id %}
              <img src="data:{{ image.imageType }};base64,{{ image.data }}" alt="img" style="height: 100px; width: 100px;" />
            {% endif %}
          {% endfor %}
        </td>
        <td>
          <select name="image_id" class="form-control">
            <option selected="selected" value="NULL" id="optionImage">Modifier l'image</option>
            {% for image in images %}
              <option value="{{ image.image_id }}">{{ image.name }}</option>
            {% endfor %}
          </select>
        </td>
      <tr>
        <td>name : {{ name }}</td>
        <td><input type="text" class="form-control" id="name" name="name" value="{{ name }}" required></td>
      </tr>
      <tr>
        <td>description : {{ description }}</td>
        <td><input type="text" class="form-control" id="description" name="description" value="{{ description }}"></td>
      </tr>
      <tr>
        <td>URL media : {{ media }}</td>
        <td><input type="text" class="form-control" id="media" name="media" value="{{ media }}"></td>
      </tr>
      <button type="submit" class="btn btn-outline-warning">Enregistrer modification</button>
    </form>
  </tbody>
</table>
<form action="/deleteartist" method="post">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input type="hidden" class="form-control" id="artist_id" name="artist_id" value="{{ artist_id }}">
  <button type="submit" class="btn btn-outline-danger">Supprimer</button>
</form>
