<table class="table">
  <thead>
    <tr>
      <th scope="col">Informations utilisateur</th>
      <th scope="col">Accès</th>
    </tr>
  </thead>

  <tbody>
    <form action="/updatecity" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="hidden" class="form-control" id="city_id" name="city_id" value="{{ city_id }}">
      <tr>
        <td>Identifiant BDD : {{ city_id }}</td>
        <td>Refusé</td>
      </tr>
      <tr>
        <td>image :
          {% for image in images %}
            {% if image.image_id == image_id %}
              <img src="data:{{ image.imageType }};base64,{{ image.data }}" alt="img" style="height: 100px; width: 100px;" />
            {% endif %}
          {% endfor %}
        </td>
        <td>
          <select name="image_id" class="form-control">
            <option selected="selected" value="NULL" id="optionImage">Modifier l'image</option>
            {% for image in images %}
              <option value="{{ image.image_id }}">{{ image.name }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>name : {{ name }}</td>
        <td><input type="text" class="form-control" id="name" name="name" value="{{ name }}" required></td>
      </tr>
      <tr>
        <td>postal code : {{ postcode }}</td>
        <td><input type="text" class="form-control" id="postal_code" name="postal_code" value="{{ postcode }}"></td>
      </tr>
      <tr>
        <button type="submit" class="btn btn-outline-warning">Enregistrer modificaiton</button>
    </form>
  </tbody>
</table>
<form action="/deletecity" method="post">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input type="hidden" class="form-control" id="city_id" name="city_id" value="{{ city_id }}">
  <button type="submit" class="btn btn-outline-danger">Supprimer</button>
</form>
